@import './variables';

@mixin container(){
  padding: $gutter/2;
}

@mixin screen(){
  height:100vh;
  display:flex;
  flex-direction: column;
  width:100%;

  &__header{
    height: $header-height;
    position:absolute;
    top:0;
    width: 100%;
    align-items: center;
  }

  &__content{
    height: calc(100vh - #{$header-height});
    overflow: auto;
    width:100%;
    margin-top: $header-height;
  }
}

@mixin transition(
  $prop : all,
  $duration : 0.3s,
  $ease : ease-out
){
  transition : $prop $duration $ease;
  //backface-visibility: hidden;
  //-webkit-backface-visibility: hidden;
}
