@import '../../styles/variables';
@import '../../styles/mixins';

.app-toolbar{
  align-items: center;
}

.app-paper-title{
  font-size: 0.9rem;
  color: #999;
  display:inline-block;
  margin-bottom:$gutter/3;
}

.app-connection-list{
  &.md-list{
    padding:0;
  }

  &__trigger.md-btn{
    margin-top:-12px;
    padding:0;
  }

  &__menu.md-btn{
    margin-top:-12px;
    padding:0;
    margin-left:-15px;

    &+ .md-list{
      transform: translateX(63px);
      padding:0;

      .md-text{
        padding-left: 10px;
      }
    }
  }
}

.app-wrapper{
  height:100vh;
  &__add-connection-btn.md-btn{
    position:fixed;
    bottom:$gutter/2;
    right:$gutter/2;
  }
}

.app-screen__main{
  @include container;
}

.app-new-connection-screen{
  transition: top ease-out 0.3s;
  position:fixed;
  top:100vh;
  left:0;
  width:100vw;
  height:100vh;
  z-index:9;


  &__content{
    position:relative;
    z-index:9;
    width:100%;
    height:100%;
    background:#fff;
  }

  &__form{
    padding:5px $gutter/2 $gutter/2;
  }

  &--visible{
    top:0;

    &:after{
      opacity:0.5;
    }
  }

  &:after{
    content: '';
    transition: opacity ease-out 0.3s;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:#000;
    opacity:0;
    pointer-events: none;
    z-index:0;
  }
}

.app-settings-screen{
  &__form{
    @include container;
    padding-top:5px;
  }

  &__main{
    @include container;
  }
}
